<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suites">
    <!--Turn on below code when Extent Report is added-->
    <!--<listeners>-->
        <!--<listener class-name="resources.Listeners" />-->
        <!--<listener class-name="resources.ExtentReporterNG" />-->
    <!--</listeners>-->
    <listeners>
        <listener class-name="resources.Listeners" />
    </listeners>
    <test verbose="2" preserve-order="true" name="mainFuncTest">
        <classes>
            <!--<class name="yelp_camp_test.LandingPageTest">
                <methods>
                    <include name="rootPageNavigation"/>
                    <include name="goToCampgrounds"/>
                    <include name="clickLogin"/>
                </methods>
            </class>
            <class name="yelp_camp_test.LoginPageTest">
                <methods>
                    <include name="checkNavigation" />
                    <include name="userLogin" />
                    <include name="userPass" />
                    <include name="clickLoginButton" />
                    <include name="checkRouteChange" />
                    <include name="checkAlertDisplay" />
                </methods>
            </class>
            <class name="yelp_camp_test.NewCampgroundTest">
                <methods>
                    <include name="addNewCampground" />
                    <include name="completeForm" />
                    <include name="checkNewCamp" />
                </methods>
            </class>-->
            <class name="yelp_camp_test.DeleteCampground">
                <methods>
                    <include name="goToDetails" />
                    <include name="checkCampInfo" />
                </methods>
            </class>
        </classes>
    </test>
</suite>