<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suites">
    <!--Turn on below code when Extent Report is added-->
    <!--<listeners>-->
        <!--<listener class-name="resources.Listeners" />-->
        <!--<listener class-name="resources.ExtentReporterNG" />-->
    <!--</listeners>-->
    <test verbose="2" preserve-order="true" name="Login user">
        <classes>
            <class name="yelp_camp_test.LandingPageTest">
                <methods>
                    <include name="rootPageNavigation"/>
                    <include name="goToCampgrounds"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>